* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    /* border: 2px solid red; */
    white-space: nowrap;
    width: 50rem;
    overflow: hidden;
    position: relative;
}

.image-container {
    width: 100%;
    display: flex;
}

.transition {
    transition: transform 0.5s ease-in-out;
}

img {
    width: 50rem;
    object-fit: cover;
}

/* .active {
    transform: translateX(-100%);
} */

.buttons-container {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    background: dodgerblue;
    color: #fff;
    border: none;
    padding: 0.5rem;
    width: 20.5%;
    opacity: 0.4;
}