
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
}

.key{
    border: 1px solid grey;
    background-color: #e4e4e4;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
}

.key small{
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
}

p{
    color: purple;

}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: slateblue;
}

.bigCircle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: slateblue;

    transition-duration: 1s;
    transition-delay: 0.4s;

}
