* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    background: rebeccapurple;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.hover{
    transform: scale(2);
}